
[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
dotnet_sort_system_directives_first = false

# ReSharper properties
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = not_required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 438
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_ternary_opsigns = false
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_instance_members_qualify_declared_in = 
resharper_method_or_operator_body = expression_body
resharper_parentheses_non_obvious_operations = none, multiplicative, additive, arithmetic, shift, relational, equality, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_accessor_on_single_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_object_and_collection_initializer_style = chop_always
