<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlenBotLogUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlenBotLogUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PlenBotLogUploader.Properties.Settings>
            <setting name="LogsLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchChannelName" serializeAs="String">
                <value />
            </setting>
            <setting name="DPSReportServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomTwitchName" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTwitchOAuthPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeMinimise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadToTwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadToTwitchOnlySuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadIgnoreFileSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomTwitchNameEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GW2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectToTwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayMinimise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitchCommandUploaderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitchCommandLastLogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchCommandUploader" serializeAs="String">
                <value>!uploader</value>
            </setting>
            <setting name="TwitchCommandLastLog" serializeAs="String">
                <value>!lastlog</value>
            </setting>
            <setting name="SessionName" serializeAs="String">
                <value>Log session</value>
            </setting>
            <setting name="SessionSuppressWebhooks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SessionOnlySuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SessionMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BossTemplateSuccess" serializeAs="String">
                <value>&lt;boss&gt; kill: &lt;log&gt;</value>
            </setting>
            <setting name="BossTemplateFail" serializeAs="String">
                <value>&lt;boss&gt; pull: &lt;log&gt; |  Wipe counter: &lt;pulls&gt;</value>
            </setting>
            <setting name="MaxConcurrentUploads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SessionSaveToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedVersion" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="ArcAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchCommandSongEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchCommandSong" serializeAs="String">
                <value>!song</value>
            </setting>
            <setting name="GW2APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchCommandGW2IgnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchCommandGW2Ign" serializeAs="String">
                <value>!ign</value>
            </setting>
            <setting name="TwitchCommandPullCounterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitchCommandPullCounter" serializeAs="String">
                <value>!pulls</value>
            </setting>
            <setting name="DPSReportUsertokenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DPSReportUsertoken" serializeAs="String">
                <value />
            </setting>
            <setting name="AleevaRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AleevaRefreshTokenExpire" serializeAs="String">
                <value />
            </setting>
            <setting name="AleevaSelectedServer" serializeAs="String">
                <value />
            </setting>
            <setting name="AleevaSelectedChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="AleevaSendNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchCommandSongSmartRecognition" serializeAs="String">
                <value>True</value>
            </setting>
        </PlenBotLogUploader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PlenBotLogUploader.Properties.Settings>
            <setting name="ReleaseVersion" serializeAs="String">
                <value>61</value>
            </setting>
        </PlenBotLogUploader.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
